<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1291796283-kao03dccvavojks3ob1d7sq907pdpitb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1291796283-kao03dccvavojks3ob1d7sq907pdpitb</string>
	<key>API_KEY</key>
	<string>AIzaSyAM8lu8WWqZpRBtwyy2fy8kJ0mkjLclnm4</string>
	<key>GCM_SENDER_ID</key>
	<string>1291796283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amci.ITable</string>
	<key>PROJECT_ID</key>
	<string>com-amci-itable</string>
	<key>STORAGE_BUCKET</key>
	<string>com-amci-itable.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1291796283:ios:b7f8ee9ee8bc7b2482811e</string>
	<key>DATABASE_URL</key>
	<string>https://com-amci-itable.firebaseio.com</string>
</dict>
</plist>